<div class="container">
  <app-card
    [titulo]="cardTitle"
    [descricao]="cardDescription"
    [subTitulo]="'teste'"
    [imagemURL]="cardImage"
    s
    (onClick)="onClick()"
  ></app-card>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <app-button
        [size]="'small'"
        [outline]="true"
        [text]="'Azul'"
        [classColor]="'primary'"
        [badge]="'123'"
      ></app-button>
    </div>
    <div class="col">
      <app-button
        [outline]="false"
        [text]="'Vermelho'"
        [classColor]="'danger'"
        [badgeCorner]="'true'"
      ></app-button>
    </div>
    <div class="col">
      <app-button
        [size]="'big'"
        [outline]="true"
        [text]="'Amarelo'"
        [classColor]="'warning'"
      ></app-button>
    </div>
  </div>
</div>
