<div class="container">
  <app-card
    [titulo]="cardTitle"
    [descricao]="cardDescription"
    [subTitulo]="'teste'"
    [imagemURL]="cardImage"
    s
    (onClick)="onClick()"
  ></app-card>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <app-button [text]="'Azul'" [classColor]="'primary'"></app-button>
    </div>
    <div class="col">
      <app-button [text]="'Vermelho'" [classColor]="'danger'"></app-button>
    </div>
    <div class="col">
      <app-button [text]="'Amarelo'" [classColor]="'warning'"></app-button>
    </div>
  </div>
</div>
